{erl_opts, [warnings_as_errors]}.
{deps,
 [
  {aws_http, "0.1.[4-9]",
   {git, "git://github.com/anha0825/erl_aws_http.git",
    {tag, "v0.1.4"}}}
 ]
}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, {deprecated_function_calls, warning},
               exports_not_used
              ]}.
{xref_lib_path, app_file}.
